body {
  font-family: "Montserrat", sans-serif;
  font-size: 0.990vw;
  min-height: 2000px;
}

a,
a:hover {
  text-decoration: none;
}

.container-fluid {
  width: 75vw;
  padding-left: 0;
  padding-right: 0;
}

@media only screen and (max-width: 768px) {
  .container-fluid {
    width: 88vw;
  }
  body {
    font-size: 4.267vw;
  }
}
