body {
  font-family: "Montserrat", sans-serif;
  font-size: 0.990vw;
}

a,
a:hover {
  text-decoration: none;
}

.container-fluid {
  width: 75vw;
  padding-left: 0;
  padding-right: 0;
}

.h2 {
  font-size: 4.688vw;
  font-weight: 400;
  font-family: "Alfa Slab One", sans-serif;
  margin-top: 0;
  margin-bottom: 2.344vw;
}

.text-image {
  padding-top: 11.771vw;
  padding-bottom: 3.281vw;
  background: #DE4C4C;
  color: #fff;
  padding-left: 12.500vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.text-image--main {
  padding-top: 19.635vw;
  padding-bottom: 6vw;
}

.text-image--black {
  background: #000;
  padding-bottom: 10vw;
}

.text-image--black .img-wrapper__rec {
  background: #DE4C4C;
}

.text-image--black .slider-section__button {
  margin-left: 0;
  margin-top: 5vw;
}

.text-image__content {
  width: 36.042vw;
}

.img-wrapper {
  -webkit-transform: translateX(7.813vw);
      -ms-transform: translateX(7.813vw);
          transform: translateX(7.813vw);
  position: relative;
}

.img-wrapper__rec {
  width: 43.594vw;
  height: 34.948vw;
  background: #000;
  -webkit-transform: rotate(-9deg);
      -ms-transform: rotate(-9deg);
          transform: rotate(-9deg);
}

.img-wrapper__img {
  position: absolute;
  top: -2vw;
  left: 1.8vw;
  -webkit-transform: rotate(-9deg);
      -ms-transform: rotate(-9deg);
          transform: rotate(-9deg);
}

.img-wrapper__img img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  width: 43.698vw;
  height: 34.635vw;
}

.logo-img {
  width: 21.875vw;
  margin-top: -9.375vw;
  margin-left: -3.9vw;
  position: relative;
  z-index: 1;
}

.slider-section {
  padding-top: 17.708vw;
  padding-bottom: 17.708vw;
  background-color: #000;
  background-image: url("../img/niet.svg");
  background-size: cover;
  background-repeat: space;
  background-position: top 1.302vw center;
}

.slider-section--black {
  padding-bottom: 11vw;
}

.slider__item {
  background: #fff;
}

.slider-section__button {
  background: #fff;
  color: #000;
  font-size: 1.042vw;
}

.slider-section__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.042vw;
  height: 1.979vw;
  -webkit-box-shadow: 10px 10px 0px #000;
          box-shadow: 10px 10px 0px #000;
  width: 16.510vw;
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
}

.slider-section__button:hover {
  color: #000;
}

.slider {
  height: 100%;
}

.slider__item {
  padding: 7.708vw 4vw 7.771vw 4vw;
  text-align: center;
  font-size: 2.604vw;
  font-weight: 700;
  font-family: 'Product Sans', sans-serif;
  color: #000;
  min-height: auto;
  height: auto;
  min-height: 28vw;
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(-5vw);
      -ms-transform: translateY(-5vw);
          transform: translateY(-5vw);
  z-index: 99;
  position: relative;
  list-style: none;
  padding: 0;
}

.slick-dots li {
  width: 0.885vw;
  height: 0.885vw;
  background: #000;
  border-radius: 50%;
  margin: 0 0.365vw;
  cursor: pointer;
}

.slick-dots .slick-active {
  background: #DE4C4C;
}

.slick-dots button {
  background: transparent;
  border: none;
  outline: none;
  font-size: 0;
}

.slider-section--red {
  background-color: #fff;
  background-image: url("../img/bg-red.svg");
}

.slider-section--red .slider__item {
  background: #000;
  color: #fff;
}

.slider-red .slick-dots li {
  background: #fff;
}

.slider-red .slick-dots .slick-active {
  background: #DE4C4C;
}

.slider__item p {
  font-size: 1.563vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  max-width: 55.052vw;
  margin-left: auto;
  margin-right: auto;
}

.slider-item__title {
  font-size: 2.708vw;
  margin-bottom: 1.563vw;
}

.slider-section--red-lines {
  padding-top: 6.094vw;
  padding-bottom: 6.094vw;
  background-color: #fff;
  background-image: url("../img/lines.svg");
  background-position: top left;
}

.slider-section--red-lines .slider__item {
  background: #DE4C4C;
  color: #fff;
  min-height: 17.917vw;
}

.slider-section--red-lines .slider__item .slider-item__title {
  font-size: 4.167vw;
  font-weight: 700;
  font-family: 'Product',sans-serif;
}

.slider-section--red-lines .slider__item p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.979vw;
}

.slider-lines .slick-dots li {
  background: #fff;
}

.slider-lines .slick-dots .slick-active {
  background: #000;
}

.items-section {
  background: #DE4C4C;
  padding-top: 3.750vw;
}

.item {
  background: #fff;
  width: 34.844vw;
  background: #fff;
  height: 36.615vw;
  width: 22.396vw;
  margin-bottom: 5.521vw;
  -webkit-box-shadow: 1.042vw 1.042vw #000;
          box-shadow: 1.042vw 1.042vw #000;
  margin-left: auto;
  margin-right: auto;
  padding: 1.094vw 1.354vw 2.031vw 1.354vw;
}

.item p {
  margin-bottom: 2vw;
}

.item-image {
  width: 100%;
  height: 13.021vw;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.item__title {
  font-size: 2.083vw;
  margin-top: 1.250vw;
}

.button {
  background: #DE4C4C;
  color: #fff;
  font-size: 1.042vw;
  font-weight: 500;
  padding: 7px 4px;
  margin-top: 2vw;
}

.button:hover {
  color: #fff;
}

.slider-sub-title {
  font-size: 1.198vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.slider-slub {
  font-size: 2.708vw;
  font-weight: 400;
  font-family: "Alfa Slab One", sans-serif;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.item-section-title {
  color: #fff;
}

.item-section-title {
  font-size: 4.688vw;
  font-family: 'Product', sans-serif;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 3vw;
  padding-left: 1vw;
}

.two-col-title {
  font-size: 2.708vw;
  font-family: "Alfa Slab One", sans-serif;
  font-weight: 400;
  margin-bottom: 1.667vw;
}

.two-cols {
  padding-top: 5.729vw;
  padding-bottom: 5.729vw;
}

.two-cols p {
  width: 31.823vw;
}

@media only screen and (max-width: 768px) {
  .container-fluid {
    width: 88vw;
  }
  body {
    font-size: 4.267vw;
  }
  .text-image {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .text-image__content {
    width: 100%;
  }
  .text-image {
    padding-left: 6vw;
    padding-right: 6vw;
  }
  .h2 {
    font-size: 11vw;
  }
  .img-wrapper__img img {
    width: 80vw;
    height: 64.635vw;
  }
  .img-wrapper__rec {
    width: 80vw;
    height: 64.635vw;
  }
  .img-wrapper {
    margin-top: 15vw;
    -webkit-transform: translateX(3vw);
        -ms-transform: translateX(3vw);
            transform: translateX(3vw);
  }
  .logo-img {
    width: 33vw;
  }
  .text-image {
    padding-top: 15vw;
    padding-bottom: 15vw;
  }
  .slider__item {
    font-size: 6vw;
    padding-bottom: 12vw;
  }
  .slick-dots li {
    width: 2vw;
    height: 2vw;
    margin: 0 1vw;
  }
  .slick-dots {
    -webkit-transform: translateY(-8vw);
        -ms-transform: translateY(-8vw);
            transform: translateY(-8vw);
  }
  .slider-section__button {
    height: 7vw;
    width: 42vw;
    font-size: 5vw;
  }
  .slider-section__button {
    width: 60vw;
    font-size: 3.8vw;
  }
  .item {
    width: 100%;
    height: auto;
  }
  .item-image {
    height: 60vw;
  }
  .item__title {
    font-size: 8vw;
    margin-top: 3vw;
    margin-bottom: 2vw;
  }
  .button {
    font-size: 5vw;
    padding: 2vw 3vw;
  }
  .item p {
    margin-bottom: 5vw;
  }
  .item {
    padding: 4vw 4vw;
    padding-bottom: 8vw;
    margin-bottom: 10vw;
  }
  .items-section {
    padding-top: 12vw;
  }
  .slider-item__title {
    font-size: 8vw;
  }
  .slider__item p {
    max-width: 95%;
    font-size: 4vw;
  }
  .slider-section--red-lines .slider__item .slider-item__title {
    font-size: 8vw;
  }
  .slider-section--red-lines .slider__item p {
    font-size: 4vw;
  }
  .slider-section--red-lines {
    padding-bottom: 0.1vw;
  }
  .text-image--main {
    padding-top: 46vw;
  }
  .item-section-title {
    font-size: 8vw;
    margin-bottom: 8vw;
  }
  .two-cols {
    padding-top: 15vw;
    padding-bottom: 15vw;
  }
  .two-cols p {
    width: 100%;
  }
  .two-col-title {
    font-size: 7vw;
    margin-bottom: 5vw;
  }
  .slider-slub {
    font-size: 4.7vw;
  }
}
